/* class ẩn */
.hide {
    display: none !important;
}

.app {
    overflow: hidden;
}

.header {
    height: var(--header-height);
    background-image: linear-gradient(0, #fe6433, #f53e2d);
}
.header__navbar {
    height: var(--navbar-height);
    display: flex;
    justify-content: space-between;
}
.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin-top: 4px;
    display: flex;
}
.header__navbar-item {
    margin: 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-user {
    display: flex;
    justify-items: center;
}

.header__navbar-user-img {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,0.1);
}

.header__navbar-user-name {
    margin-left: 4px;
    font-size: 1.4rem;
}

.header__navbar-user:hover .header__navbar-user-menu{
    display: block;
}

.header__navbar-user-menu {
    z-index: 1;
    position: absolute;
    top: 123%;
    right: 0;
    background-color: var(--white-color);
    list-style: none;
    padding: 0;
    border-radius: 2px;
    width: 160px;
    box-shadow: 0 1px 2px #e0e0e0;
    display: none;
}

.header__navbar-user-menu::before {
    content: "";
    border-width: 18px 26px;
    border-style: solid;
    position: absolute;
    border-color: transparent transparent var(--white-color) transparent;
    top: -23%;
    right: 17px;
}

.header__navbar-user-item:last-child {
   border-top: 1px solid #333;
   border-color: var(--border-color);
}

.header__navbar-user-item a {
    display: block;
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 8px 16px;
}

.header__navbar-user-item a:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__navbar-user-item a:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__navbar-user-item a:hover {
    background-color: #fafafa;
}

.header__navbar-item--has-qr:hover .header__qr {
    display: block;
}

.header__navbar-item--has-notify:hover .header__notify {
    z-index: 1;
    display: block;
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
    display: inline-flex;
    align-items: center;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover,
.header__navbar-icon-link:hover {
    cursor: pointer;
    color: rgba(255,255,255,0.7);
}

.header__navbar-item--strong {
    font-weight: 400;
}
.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #fb9086;
    height: 16px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}
.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}
.header__navbar-icon {
    font-size: 1.8rem;
    margin: 0 4px;
}

.header__navbar-title--no-pointer {
    cursor: text;
    color: var(--white-color);
}
/* Header QR code */
.header__qr {
    z-index: 1;
    background-color: var(--white-color);
    width: 186px;
    position: absolute;
    border: 1px solid var(--border-color);
    left: 0;
    top: 110%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.3s;
}

.header__qr::before {
    width: 100%;
    height: 30px;
    left: 0;
    top: -15px;
    position: absolute;
    content: "";
    display: block;
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
}

.header__qr-link:nth-child(1) {
    margin-left: 11px;
}

.header__qr-link:nth-child(2) {
    margin-right: 11px;
}

.header__qr-download-img {
    height: 15px;
}
/* Header nofitication */
.header__notify {
    position: absolute;
    top: 120%;
    right: 0;
    width: 404px;
    background-color: var(--white-color);
    border: 1px solid #D3D3D3;
    animation: headerNotifyGrowth ease-in 0.2s;
    transform-origin: calc(100% - 20px) top;
    will-change: opacity transform;
    display: none;
}

.header__notify::before {
    content: "";
    border-width: 20px 25px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 0;
    top: -30px;
}

.header__notify::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: -15px;
    width: 100px;
    height: 20px;
}

@keyframes headerNotifyGrowth {
    from{
        opacity: 0;
        transform: scale(0);
    }to{
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify-header {
    height: 40px;
    background-color: var(--white-color);
    user-select: none;
    cursor: default;
}
.header__notify-header h3 {
    color: #999;
    font-weight: 400;
    margin: 0 0 0 12px;
    font-size: 1.4rem;
    line-height: 40px;
}
.header__notify-list {
    padding-left: 0;
}

.header__notify-item {
    display: flex;
}

.header__notify-item:hover {
    background-color: #f7f7f7;
}

.header__notify-link {
    width: 100%;
    display: flex;
    padding: 12px;
    text-decoration: none;
    background-color: rgba(238,75,43,0.08);
}
.header__notify-img {
    width: 48px;
    object-fit: contain;
}
.header__notify-info {
    margin-left: 12px;
}
.header__notify-name {
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.8rem;
}
.header__notify-descriotion {
    display: block;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #756F6E;
    margin-top:4px ;
}

.header__notify-footer-btn {
    text-decoration: none;
    color: var(--text-color);
    padding: 8px 48px;
    width: 100%;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
    display: block;
}
/* Modal */
/* Authen Modal */
.auth-form {
    width: 500px;
    margin: auto;
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden;
}
.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 12px;
}
.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}
.auth-form__switch-btn {
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 400;
    cursor: pointer;
}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}
.auth-form__input:focus {
    border-color: #888;
}
.auth-form__aside {
    margin-top: 18px;
}
.auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}
.auth-form__text-link {
    text-decoration: none;
    color: var(--primary-color);
}
.auth-form__controls {
    display: flex;
    justify-content: flex-end;
    margin-top: 80px;
}
.auth-form__controls-back {
    margin-right: 8px;
}
.auth-form__socials {
    display: flex;
    justify-content: space-between;
    background-color: #f5f5f5;
    padding: 16px 36px;
    margin-top: 22px;
}
.auth-form__socials-icon {
    font-size: 1.8rem;
}
.auth-form__socials--facebook {
    color: var(--white-color);
    background-color: #3A5A98;
}
.auth-form__socials--facebook
.auth-form__socials-icon {
    color: var(--white-color);
}
.auth-form__socials-title {
    margin: 0 36px;
}
.auth-form__socials--google {
    color: #666;
    background-color: var(--white-color);
}
.auth-form__help {
    display: flex;
    justify-content: flex-end;
}
.auth-form__help-link {
    font-size: 1.4rem;
    text-decoration: none;
    color: #939393;
}
.auth-form__help-separate {
    display: block;
    height: 22px;
    margin: 0 16px;
    border-left: 1px solid var(--border-color) ;
}
.auth-form__help-forgot {
    color: var(--primary-color);
    font-weight: 400;
}

/* Header with search */
.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.header__mobile-search {
    display: none;
}   

.header__mobile-search-icon {
    font-size: 2.6rem;
    color: var(--white-color);
    padding: 0 12px;
}

.header__logo {
    width: 200px;
    display: flex;
    justify-content: center;
}
.header__logo-img {
    /* display: flex; */
    width: 80px;
    /* margin: auto; */
}

.header__logo-link {
    text-decoration: none;
    color: transparent;
    display: block;
    line-height: 0;
}

.header__search {
    flex: 1;
    height: 40px;
    background-color: var(--white-color);
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.header__search-input-wrap {
    position: relative;
    flex: 1;
    height: 100%;
}

.header__search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.5rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 3px;
}

.header__search-select {
    border-left: 1px solid #CCC;
    padding-left: 16px;
    position: relative;
}

.header__search-select-label {
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-select-icon {
    font-size: 1.4rem;
    color: #696767;
    margin: 0 16px 0 8px;
    position: relative;
    top: 2px;
}

.header__search-btn {
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    width: 60px;
    outline: none;
    border-radius: 3px;
    margin-right: 3px;
    
}

.header__search-btn:hover {
    background-color: #ec7259;
    cursor: pointer;
}

.header__search-btn-icon {
    font-size: 1.4rem;
    color: var(--white-color);
}

.header__search-select:hover .header__search-option{
    display: block;
}

.header__search-select::after {
    position: absolute;
    top: 90%;
    left: 0;
    content: "";
    width: 100%;
    height: 20px;
}

.header__search-option {
    z-index: 1;
    background-color: var(--white-color);
    position: absolute;
    right: 0;
    top: 130%;
    width: 130px;
    list-style: none;
    box-shadow: 0 1px 1px rgb(219, 219, 219);
    padding-left: 0;
    border-radius: 3px;
    display: none;
}

.header__search-option-item:hover {
    background-color: rgb(247, 243, 243);   
}

.header__search-option-item {
    padding: 8px 8px;
}

.header__search-option-item span {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 8px;
}
.header__search-option-item i {
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-left: 12px;
    display: none;
}

.header__search-option-item--active i {
    display: inline-block;
}

.header__search-input:focus ~ .header__search-history {
    display: block;
}

/* search history */
.header__search-history {
    z-index: 1;
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 5px #999;
    overflow: hidden;
    display: none;
}

.header__search-history-heading {
    margin: 6px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__search-history-list {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
}

.header__search-history-item {
    height: 30px;
    padding: 0 12px;
}

.header__search-history-item:hover {
    background-color: #fafafa;
}

.header__search-history-item a {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 30px;
    cursor: pointer;
    display: block;
}

/* Cart layout */
.header__cart {
    width: 150px;
    display: flex;
    justify-content: center;
}

.header__cart-wrap {
    position: relative;
    display: inline-block;
    padding: 0 12px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.header__cart-wrap:hover .header__cart-list {
    display: block;
}

.header__cart-list::before {
    content: "";
    position: absolute;
    right: 15px;
    top: -25px;
    border-width: 16px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    cursor: pointer;
}

.header__cart-icon {
    color: var(--white-color);
    font-size: 2.4rem;
    margin-top: 4px;
}

.header__cart-list {
    z-index: 1;
    position: absolute;
    top: calc(100% + 10px);
    right: -11px;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem rgba(0,0,0,0.2);
    display: none;
    animation: fadeIn ease-in 0.2s;
    cursor: default;
}

.header__cart-list--no-cart {
    padding: 24px 0;
}

.header__cart-list--no-cart .header__cart-no-cart-img {
    display: block;
}

.header__cart-no-cart-img {
    display: none;
    width: 60%;
    margin: auto;
}

.header__cart-notice {
    position: absolute;
    top: -5px;
    right: -5px;
    padding: 1px 7px;
    font-size: 1.4rem;
    line-height: 1.4rem;
    border-radius: 10px;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    background-color: var(--white-color);
}
/*  */
.header__cart-heading {
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__cart-list-item {
    padding-left: 0;
    list-style: none;
    max-height: 50vh;
    overflow-y: auto;
}

.header__cart-item {
    display: flex;
    align-items: center;
    padding-right: 10px;
}

.header__cart-item:hover {
    background-color: #f8f8f8;
}

.header__cart-img {
    width: 42px;
    height: 42px;
    margin: 12px;
    border: 1px solid var(--border-color);
}

.header__cart-item-info {
    width: 100%;
    margin-left: 12px;
    
}

.header__cart-item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__cart-item-name {
    flex: 1;
    text-align: left;
    font-size: 1.4rem;
    line-height: 2rem;
    max-height: 4rem;
    overflow: hidden;
    font-weight: 500;
    color: var(--text-color);
    margin: 0;
    padding-right: 16px;
    /* Hiện dấu ... khi text dài */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.header__cart-item-price {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--primary-color);
}

.header__cart-item-multiply {
    font-size: 0.9rem;
    margin: 0 4px;
    color: #757575;
}

.header__cart-item-qnt {
    font-size: 1.2rem;
    color: #757575;
}

.header__cart-item-body {
    display: flex;
    justify-content: space-between;
}

.header__cart-item-description {
    color: #757575;
    font-size: 1.2rem;
    font-weight: 300;
}

.header__cart-item-remove {
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 400;
    cursor: pointer;
}

.header__cart-item-remove:hover {
    color: var(--primary-color);
}

.header__cart-view-cart {
    float: right;
    margin: 0 12px 12px 0;
}

.header__cart-view-cart:hover {
    background-color: rgb(250, 65, 9);
}
/* bổ sung phục vụ responsive */
.header__sort-bar{
    position: fixed;
    top: var(--header-height);
    left: 0;
    right: 0;
    height: var(--header-sort-bar-height);
    background-color: var(--white-color);
    /* display: flex; */
    list-style: none;
    margin: 0;
    padding-left: 0;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    display: none;
}

.header__sort-item{
    flex: 1;
}

.header__sort-item--active .header__sort-link {
    color: var(--primary-color);
}

.header__sort-link{
    text-decoration: none;
    display: block;
    color: var(--text-color);
    font-size: 1.4rem;
    background-color: var(--white-color);
    height: 100%;
    line-height: var(--header-sort-bar-height);
    position: relative;
    text-align: center;
}

.header__sort-link::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 60%;
    transform: translateY(-50%);
    border-left: 1px solid #e5e5e5;
}

.header__sort-item:first-child .header__sort-link::before {
    display: none;
}
